export(.calc_alpha)
export(.calc_nu_u)
export(.calc_prat)
export(areal_strain_sens.from.undrained_compressibility)
export(dimensional_units)
export(kinvisc)
export(plot.shepard)
export(sand_silt_clay)
export(skempton)
export(undrained_compressibility.from.areal_strain_sens)
export(undrained_compressibility.from.beta)
export(xyz2ternary)
import(robCompositions)
import(vcd)
